@import "../common.scss";

:host {
    //@include ApercuBold();

    .cb-menu-item-container {
        //height: 0;

        & ::slotted(*) {
            height: 0;
        }
    }
}

:host([menu-open]) {
    .cb-menu-item-container {
        //height: 100%;

        & ::slotted(*) {
            height: auto !important;
            display: block!important;
            text-align: left!important;
            padding: 18px 18px 18px 50px!important;
            width: 100%;
            position: static;
            box-sizing: border-box;
            line-height: 12px!important;
        }
    }
}

.cb-btn {
    cursor: pointer;

    &:hover {

    }
}

.cb-sandwich {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    z-index: 1000;

    .cb-bread {
        display: block;
        width: 28px;
        height: 2px;
        background-color: #252525;
        margin: 6px 0;
        border-radius: 2px;

        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }

    .cb-bread:first-child {
        -webkit-animation: top-bread-reverse 0.68s forwards;
        animation: top-bread-reverse 0.68s forwards;
    }
    .cb-bread:last-child {
        -webkit-animation: bottom-bread-reverse 0.68s forwards;
        animation: bottom-bread-reverse 0.68s forwards;
    }

    &.open {
        .cb-bread:first-child {
            -webkit-animation: top-bread 0.68s forwards;
            animation: top-bread 0.68s forwards;
        }
        .cb-bread:last-child {
            -webkit-animation: bottom-bread 0.68s forwards;
            animation: bottom-bread 0.68s forwards;
        }
    }
}

.preload * {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
}

.cb-menu-item-container {
    flex-direction: column;
    position: absolute;
    z-index: 100;
    text-align: center;
    color: #fff;

    -webkit-transition: -webkit-transform 0.68s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: height 0.68s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: height 0.68s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: height 0.68s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
                -webkit-transform 0.68s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    
    background: #1d73ab;

    //background: #2c3e50; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient(top left, rgba(41, 128, 185, .6), rgba(44, 62, 80, .6));
    // background: -moz-linear-gradient(top left, rgba(41, 128, 185, .6), rgba(44, 62, 80, .6));
    // background: -o-linear-gradient(top left, rgba(41, 128, 185, .6), rgba(44, 62, 80, .6));
    // background: linear-gradient(to bottom right, rgba(41, 128, 185, .6), rgba(44, 62, 80, .6));
    // Instead of gradient, do filter blur over background image (https://codepen.io/betravis/pen/ztyDm)

    & ::slotted(*) {
        cursor: pointer;
        display: block;
        overflow: hidden;
    }

    & ::slotted(*:hover) {
        color: red;
    }

    .cb-menu-more {
        display: none;
    }
}

@media (max-width: 767px) {
    :host {
        .cb-menu-item-container {
            height: 0;
        }
    }
    :host([menu-open]) {
        .cb-menu-item-container {
            height: 100%;
        }
    }
    .cb-menu-item-container {
        top: 0;
        left: 0;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .cb-menu-item-container {
        
    }
}

@media (min-width: 768px) {
    :host {
        .cb-menu-item-container {
            //display: none;
            transform: perspective(1500px) rotateY(-75deg) translateX(-400px) translateZ(140px);
            //left: -125px;
        }
    }
    :host([menu-open]) {
        .cb-menu-item-container {
            //display: flex;
            transform: perspective(1500px) rotateY(0deg) translateX(0px) translateZ(0px);
            left: 25px;
        }
    }
    .cb-menu-item-container {
        height: 80%;
        top: 10%;
        bottom: 10%;
        //left: 25px;
        width: 33%;
        max-width: 400px;

        @include box-shadow();
    }
}

@media (min-width: 1200px) {
    .cb-menu-item-container {
        
    }
}

@keyframes top-bread {
    33%  {transform: rotate(90deg) translate(8px, -5px);}
    66% {transform: rotate(90deg) translate(9px, 0px);}
    100% {transform: rotate(135deg) translate(4px, -3px);}
}
@keyframes bottom-bread {
    33%  {transform: rotate(90deg) translate(-1px, 4px);}
    66% {transform: rotate(90deg) translate(0px, 0px);}
    100% {transform: rotate(45deg) translate(-3px, -2px);}
}

@keyframes top-bread-reverse {
    0% {transform: rotate(135deg) translate(4px, -3px);}
    50% {transform: rotate(180deg) translate(0px, -6px);}
    100% {transform: rotate(180deg) translate(0px, 0px);}
}
@keyframes bottom-bread-reverse {
    0% {transform: rotate(45deg) translate(-3px, -2px);}
    50% {transform: rotate(180deg) translate(0px, 2px);}
    100% {transform: rotate(180deg) translate(0px, 0px);}
}

/* Add webkit etc.. keyframes */