:host {
    .cb-menu-item-container {
        display: none;
    }
}

:host([menu-open]) {
    .cb-menu-item-container {
        display: flex;
    }
}

.cb-btn {
    cursor: pointer;

    &:hover {

    }
}

.cb-sandwich {
    display: inline-block;
    cursor: pointer;

    .cb-bread {
        display: block;
        width: 28px;
        height: 3px;
        background-color: #333;
        margin: 6px 0;
        //transition: .4s;
        border-radius: 2px;

        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }

    .cb-bread:first-child {
        -webkit-animation: top-bread-reverse 0.68s forwards;
        animation: top-bread-reverse 0.68s forwards;
    }
    .cb-bread:last-child {
        -webkit-animation: bottom-bread-reverse 0.68s forwards;
        animation: bottom-bread-reverse 0.68s forwards;
    }

    &.open {
        .cb-bread:first-child {
            -webkit-animation: top-bread 0.68s forwards;
            animation: top-bread 0.68s forwards;
        }
        .cb-bread:last-child {
            -webkit-animation: bottom-bread 0.68s forwards;
            animation: bottom-bread 0.68s forwards;
        }
    }
}

.cb-menu-item-container {
    flex-direction: column;
    position: absolute;
    margin-left: 50px;
    margin-top: -23px;
    text-align: center;
    border-radius: 3px;
    color: #e8e8e8;

    background: #2c3e50; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient(top left, rgba(41, 128, 185, .6), rgba(44, 62, 80, .6));
    // background: -moz-linear-gradient(top left, rgba(41, 128, 185, .6), rgba(44, 62, 80, .6));
    // background: -o-linear-gradient(top left, rgba(41, 128, 185, .6), rgba(44, 62, 80, .6));
    // background: linear-gradient(to bottom right, rgba(41, 128, 185, .6), rgba(44, 62, 80, .6));
    // Instead of gradient, do filter blur over background image (https://codepen.io/betravis/pen/ztyDm)

    & ::slotted(*) {
        display: inline-block;
        //padding: 12px 20px;
        min-width: 158px;
        margin: 0 auto;
        padding: 16px 0;
        cursor: pointer;
    }

    & ::slotted(*:hover) {
        color: red;
    }

    .cb-menu-more {
        display: none;
    }
}

//transform: rotate(45deg) translate(7px, 1px);
// @-webkit-keyframes top-bread {
//     33%  {transform: rotate(90deg) translate(8px, -5px);}
//     66% {transform: rotate(90deg) translate(9px, 0px);}
//     100% {transform: rotate(135deg) translate(4px, -3px);}
// }
@keyframes top-bread {
    33%  {transform: rotate(90deg) translate(8px, -5px);}
    66% {transform: rotate(90deg) translate(9px, 0px);}
    100% {transform: rotate(135deg) translate(4px, -3px);}
}

// @-webkit-keyframes bottom-bread {
//     33%  {transform: rotate(90deg) translate(-1px, 4px);}
//     66% {transform: rotate(90deg) translate(0px, 0px);}
//     100% {transform: rotate(45deg) translate(-3px, -2px);}
// }
@keyframes bottom-bread {
    33%  {transform: rotate(90deg) translate(-1px, 4px);}
    66% {transform: rotate(90deg) translate(0px, 0px);}
    100% {transform: rotate(45deg) translate(-3px, -2px);}
}


// @-webkit-keyframes top-bread-reverse {
//     0% {transform: rotate(135deg) translate(4px, -3px);}
//     //100% {transform: rotate(180deg) translate(7px, 3px);}
//     // 66%  {transform: rotate(90deg) translate(8px, -5px);}
//     // 100% {transform: rotate(90deg) translate(9px, 0px);}
// }
@keyframes top-bread-reverse {
    0% {transform: rotate(135deg) translate(4px, -3px);}
    50% {transform: rotate(180deg) translate(0px, -6px);}
    100% {transform: rotate(180deg) translate(0px, -3px);}
    //100% {transform: rotate(180deg) translate(7px, 3px);}
    // 66%  {transform: rotate(90deg) translate(8px, -5px);}
    // 100% {transform: rotate(90deg) translate(9px, 0px);}
}

// @-webkit-keyframes bottom-bread-reverse {
//     0% {transform: rotate(45deg) translate(-3px, -2px);}
//     // 66%  {transform: rotate(90deg) translate(-1px, 4px);}
//     // 100% {transform: rotate(90deg) translate(0px, 0px);}
// }
@keyframes bottom-bread-reverse {
    0% {transform: rotate(45deg) translate(-3px, -2px);}
    50% {transform: rotate(180deg) translate(0px, 2px);}
    100% {transform: rotate(180deg) translate(0px, -2px);}
    // 66%  {transform: rotate(90deg) translate(-1px, 4px);}
    // 100% {transform: rotate(90deg) translate(0px, 0px);}
}