:host {

}

:host[menu-open] {
    
}

.cb-btn {
    cursor: pointer;

    &:hover {

    }
}

.cb-sandwich {
    display: inline-block;

    .cb-bread {
        display: block;
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
}

.cb-menu {
    & ::slotted(*) {

    }

    & ::slotted(*:hover) {
    
    }

    .cb-menu-more {
        display: none;
    }
}