:host {
    margin: 15px;
}

.cb-gl-item-container {
    height: 175px;
    width: 125px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;

    #cb-gl-item-image {
        height: 115px;
        background-color: #f3f3f3;
    }

    #cb-gl-item-title {
        height: 60px;
        padding: 8px;
        box-sizing: border-box;

        div:first-child {
            font-size: 18px;
        }

        span {
            color: firebrick;
        }
    }
}